<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/bundle.css" />
</head>
<body>
  <div id="header">
    <ul>
      <li><a href="/">Home</a></li>
      {% assign weighted_posts = collections.page | sort: 'data.weight' %}
      {% for post in weighted_posts %}
        <li><a href="{{ post.url }}">{{ post.data.shortTitle | default: post.data.title }}</a>
      {% endfor %}
    </ul>
  </div>

  <div id="title">
    <h1>{{ title }}</h1>
  </div>

  <main id="content">
  {{ content }}
  </main>

  <div id="footer">
    Copyright &copy; {% year %} Lars Kellogg-Stedman | 
    <a href="{{ repository.url }}/blob/{{ repository.ref }}/{{ page.inputPath }}?plain=1">View page source</a> |
    <a href="{{ repository.url }}/edit/{{ repository.ref }}/{{ page.inputPath }}">Suggest changes</a>
  </div>
</body>
</html>
