---
layout: base.liquid
---

<table>
<tr>
  <td><strong>Home page</strong></td>
  <td><a href="{{ externalUrl }}">{{ externalUrl }}</a></td>
</tr>
<tr>
  <td><strong>Location</strong></td>
  <td>{{ location }}</td>
</tr>
{% if callsign %}
<tr>
  <td><strong>Callsign</strong></td>
  <td>{{ callsign }}</td>
</tr>
{% endif %}
</table>

{{ content }}
