<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/bundle.css" />
</head>
<body>
  <div id="header">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/public_service">Public service</a></li>
      <li><a href="/equipment">Equipment</a></li>
      <li><a href="/packet">Packet radio</a></li>
      <li><a href="/clubs">Radio clubs &amp; Associations</a></li>
      <li><a href="/ref">Reference</a></li>
    </ul>
  </div>

  <div id="title">
    <h1>{{ title }}</h1>
  </div>

{% if make_toc %}
  <div id="toc">
    {{ content | toc }}
  </div>
{% endif %}

  <div id="content">
  {{ content }}
  </div>

  <div id="footer">
    Copyright &copy; {% year %} Lars Kellogg-Stedman | 
    <a href="https://github.com/larsks/n1lks.oddbit.com/blob/main/{{ page.inputPath }}?plain=1">View page source</a> |
    <a href="https://github.com/larsks/n1lks.oddbit.com/edit/main/{{ page.inputPath }}">Suggest changes</a>
  </div>
</body>
</html>
